#map_canvas {
	margin: 0;
    padding: 0;
	height: 100%;
}

#map_canvas img {
	max-width: 100%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















